ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

.header {
    background-color: #2ecc71;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 2rem;
}

.banner {
width: 100%;
height: auto;
}

.banner img {
display: block;
width: 100%;
}

.container {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.card {
position: relative;
display: block;
width: 45%;
max-width: 600px;
margin: 0 10px;
overflow: hidden;
border-radius: 10px;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.card:hover img {
transform: scale(1.1);
filter: brightness(70%);
}

.card img {
display: block;
width: 100%;
height: auto;
transition: all 0.3s ease-out;
}

.card-text {
position: absolute;
bottom: 0;
left: 0;
right: 0;
padding: 10px;
background-color: rgba(0, 0, 0, 0.7);
color: #fff;
font-size: 1.5rem;
text-align: center;
text-transform: uppercase;
}



.greenBtn {
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Copperplate Gothic';
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.8s;
    background-color: #C0C0C0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.greenBtn:hover{

    background-color: #27e074;

}

.cancelBtn {
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Copperplate Gothic';
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.5s;
    background-color: #C0C0C0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

    .cancelBtn:hover {
        background-color: red;
    }



input[type=text]{

    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing:border-box;
    border-radius: 25px;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;


}

input[type=text]:focus{

    border: 3px solid #555;

}


textarea {
    width: 400px;
    height: 200px;
    border-radius: 15px;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

textarea:focus{

    border: 3px solid #555;
}

.formPopup{

    text-align: inherit;
    justify-content: center;
    align-items: center;


}

.sideBarClass{

    height: 100%;;    
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition-delay: 0.5s;
    padding-top: 60px;

}

.sideBarClass .xbutton{

    position: absolute;
    top: 0;
    right: 25px;
    font-size: 20;
    margin-left: 50px;

}

.sideBarClass a{

    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #8a8686;
    display: block;
    transition: 0.3s;

}

.sideBarClass a:hover{

    color: #fac25a;
    transition-duration: 0.5s;
}

.playlistImage{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-color: #ccc;
    border-width: 5px;
    border-style: solid;
    transition-duration: 0.5s;
    object-fit: cover;
}

.playlistImage:hover{

    border-color: #555;
}

.imgcontainer{

    float: right;
    margin-right: 20px;
    flex: 0 0 auto;
    position: relative;
    text-align: center;
    

}

form{
    overflow: hidden;
    flex: 1;
}

.formWrapper{

    display: flex;
    justify-content: center;
}

.removeExercise{
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Copperplate Gothic';
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.5s;
    background-color: #C0C0C0;

}

.removeExercise:hover{
    background-color: red;
}


